html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#fullpage {
  top: 0;
  left: 0;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.pr-textAlign.center {
  text-align: center;
}

.pr-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pr-flex .pr-flex-grow1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pr-flex.pr-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pr-flex.pr-justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pr-logo {
  display: inline-block;
  width: 200px;
}

.pr-logo.footer {
  margin: 0 20px;
  width: 150px;
}

.pr-logo img {
  width: 100%;
}

.mw50 {
  max-width: 50%;
}

.pr-nav {
  font-family: "Oswald", sans-serif;
}

.pr-corazon {
  padding-right: 2rem;
  width: 100px;
}

.pr-corazon img {
  width: 100%;
}

.pr-sticky-header {
  background-image: url(../assets/header_bg.png);
  background-size: cover;
  font-family: "Oswald", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25%;
  padding: 2.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pr-menu--toggle {
  display: none;
}

.pr-menu {
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pr-menu--item {
  padding-top: 1rem;
}

.pr-menu--item.hidden {
  display: none;
}

.pr-menu--item.active::after, .pr-menu--item:hover::after {
  -webkit-box-shadow: 1px 1px 1px 0 #777;
          box-shadow: 1px 1px 1px 0 #777;
  content: ".";
  font-size: 0;
  background: #fff;
  display: block;
  height: 2px;
  margin-top: 5px;
  width: 100%;
}

.pr-menu a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.pr-social {
  margin: 0 2rem 0 0;
  padding: 0;
}

.pr-social a {
  display: block;
  padding: 0 3px;
  width: 30px;
}

.pr-social a.pr-social--mail-icon {
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 100%;
  height: 30px;
  margin-right: 3px;
}

.pr-social a.pr-social--mail-icon .material-icons {
  font-size: 1.22rem;
  vertical-align: middle;
}

.pr-footer {
  color: #26814a;
  padding: 6rem 0 2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pr-footer .active::after,
.pr-footer :hover::after {
  background: none;
  display: none;
}

.pr-footer .pr-menu--item {
  margin: 0 30px;
}

.pr-footer .pr-menu--item a {
  border-bottom: 3px solid #26814a;
  color: #26814a;
  font-weight: 900;
}

.pr-footer li ul {
  font-family: "Raleway", sans-serif;
  font-size: 0.7rem;
  margin: 10px 0 0 0;
  padding: 0;
}

.pr-footer .pr-social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.pr-slide {
  position: relative;
}

.pr-slide--caption {
  left: 10%;
  max-height: 25%;
  min-width: 200px;
  padding: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20%;
  z-index: 2;
}

.pr-slide--caption p {
  background: rgba(128, 128, 139, 0.5);
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 5px;
}

.pr-slide--caption::after, .pr-slide--caption::before {
  content: ".";
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 30px;
}

.pr-slide--caption::after {
  border-left: none;
  right: 0;
}

.pr-slide--caption::before {
  left: 0;
  border-right: none;
}

.pr-home-main .fp-controlArrow {
  display: none;
}

.pr-home-main .fp-slidesNav {
  text-align: center;
  top: 75%;
}

.pr-home-main .fp-slidesNav ul li {
  background: white;
  border-radius: 100%;
  color: white;
  height: 20px;
  margin: 0 15px;
  position: relative;
  width: 20px;
}

.pr-home-main .fp-slidesNav ul li a.active span {
  background: transparent;
  border: 1px solid #333;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 10px;
}

.pr-home-main .fp-slidesNav ul li a span {
  display: none;
}

.pr-home-brand {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}

.pr-home-brand--container {
  display: inline-block;
  margin: 0 auto;
  max-width: 75%;
}

.pr-home-brand h2 {
  margin: 0;
  font-size: 0.9em;
}

.pr-slide .fp-controlArrow {
  background: none;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  left: calc(50% - 365px);
}

.pr-slide .fp-controlArrow.fp-next {
  background: url("../assets/chev_r.png");
  background-size: cover;
  top: 70%;
}

.pr-slide .fp-controlArrow.fp-prev {
  background: url("../assets/chev_l.png");
  background-size: cover;
  top: calc(70% - 50px);
}

.pr-slide .fp-slidesNav {
  display: none !important;
}

.pr-video-slide {
  background: url("../assets/bg_sect3.png");
  background-size: cover;
  text-align: center;
}

.pr-video-slide--video-cont {
  max-width: 600px;
  display: inline-block;
  margin: 0 auto;
}

.pr-ft-video h1 {
  color: #ffffff;
  text-align: left;
  top: 25%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pr-ft-video .fp-controlArrow {
  left: calc(50% + 365px);
}

.pr-ft-video .fp-controlArrow.fp-prev {
  background: url("../assets/chev_l_o.png");
  background-size: cover;
}

.pr-ft-video--video-cont {
  max-width: 800px;
  margin: 90px auto 0;
}

.pr-productos {
  background: url(../assets/productos_bg.png);
  background-size: cover;
  background-position: bottom;
}

.pr-productos .logo-merqueo {
  position: absolute;
  top: calc(50% + 225px);
  right: 40px;
  width: 120px;
}

.pr-productos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pr-productos--producto {
  background: #ffffff;
  border-radius: 25px;
  font-family: "Oswald", sans-serif;
  height: 350px;
  overflow: hidden;
  margin: 0 20px;
  max-width: 250px;
  position: relative;
  width: 250px;
}

.pr-productos--producto--imagen {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.pr-productos--producto--vinculo {
  bottom: 0;
  background: #26814a;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.pr-productos--producto--vinculo .material-icons {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pr-contacto {
  background: url(../assets/contacto_bg.png);
  background-size: cover;
  background-position: bottom;
}

.pr-contacto--wrapper {
  padding-top: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pr-contacto--title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
  padding-left: 1.8rem;
  width: 100%;
}

.pr-contacto--info {
  background: rgba(113, 96, 52, 0.8);
  color: white;
  font-size: 0.85rem;
  padding: 1.5rem 1.8rem;
}

.pr-contacto--info p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.pr-contacto--info p:last-child {
  margin-bottom: 0;
}

.pr-contacto--left {
  max-width: 400px;
}

.pr-contacto--form {
  padding-left: 5rem;
  max-width: 550px;
}

.pr-contacto--form p {
  color: #fff;
  font-weight: 500;
}

.pr-contacto--form--item {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.pr-contacto--form--item:first-child {
  margin-left: 0;
}

.pr-contacto--form--item:last-child {
  margin-right: 0;
}

.pr-contacto--form--item::-webkit-input-placeholder {
  color: #26814a;
  font-family: "Oswald", sans-serif;
}

.pr-contacto--form--item:-ms-input-placeholder {
  color: #26814a;
  font-family: "Oswald", sans-serif;
}

.pr-contacto--form--item::-ms-input-placeholder {
  color: #26814a;
  font-family: "Oswald", sans-serif;
}

.pr-contacto--form--item::placeholder {
  color: #26814a;
  font-family: "Oswald", sans-serif;
}

.pr-contacto--form--button {
  color: yellowgreen;
  background: #26814a;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 0.3rem 0 0 auto;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .pr-sticky-header {
    background-position: center;
  }
  .pr-sticky-header .pr-menu--toggle {
    display: inherit;
    height: 30px;
    left: 15px;
    position: absolute;
    top: 40px;
  }
  .pr-sticky-header .pr-menu--toggle .pr-menu--toggle--button {
    background: none;
    border: none;
    color: white;
  }
  .pr-sticky-header .pr-menu--toggle .pr-menu--toggle--button i {
    font-size: 2rem;
  }
  .pr-sticky-header .pr-logo {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 150px;
  }
  .pr-sticky-header .pr-nav {
    background-color: #ffffff;
    height: 100vh;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 75%;
    top: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 2;
  }
  .pr-sticky-header .pr-nav.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .pr-sticky-header .pr-nav.open .pr-menu {
    display: block;
  }
  .pr-sticky-header .pr-nav.open .pr-menu--item {
    border-bottom: 1px solid #26814a;
    padding: 1rem;
  }
  .pr-sticky-header .pr-nav.open .pr-menu--item.hidden {
    display: block;
  }
  .pr-sticky-header .pr-nav.open .pr-menu--item a {
    color: #26814a;
  }
  .pr-sticky-header .pr-social {
    display: none;
  }
  .pr-home-brand {
    font-size: 1.5rem;
  }
  .pr-footer {
    padding: 0;
  }
  .pr-footer .pr-logo {
    display: none;
  }
  .pr-footer .pr-menu {
    display: block;
  }
  .pr-footer .pr-menu--item {
    display: block;
    border-bottom: 1px solid #26814a;
    margin: 0;
    padding: 1rem;
  }
  .pr-footer .pr-menu--item a {
    border-bottom: none;
  }
  .pr-footer .pr-menu--item a .material-icons {
    vertical-align: top;
  }
  .pr-footer .pr-menu--item ul {
    display: none;
  }
  .pr-footer .pr-menu--item.open ul {
    display: initial;
    margin-top: 10px;
  }
  .pr-footer .pr-social {
    margin-bottom: 2rem;
  }
  .pr-productos {
    background: url(../assets/productos_bg.png);
    background-size: cover;
    background-position: bottom;
  }
  .pr-productos-wrapper {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pr-productos-wrapper .fp-controlArrow.fp-prev, .pr-productos-wrapper .fp-controlArrow.fp-next {
    left: calc(50% - 190px);
  }
  .pr-productos-wrapper .fp-controlArrow.fp-prev {
    top: calc(66% - 50px);
  }
  .pr-productos-wrapper .fp-controlArrow.fp-next {
    top: 66%;
  }
  .pr-productos--producto {
    margin: 0 auto;
  }
  .pr-contacto--left {
    max-width: 300px;
    margin: 0 auto;
  }
  .pr-contacto--form {
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
  }
  .pr-contacto--form--item {
    margin-left: 0;
    width: 100%;
  }
  .pr-contacto--form .pr-flex {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */